@page "/report_page/{currentReportId}"
@using GraduationProject.DataBase
@using GraduationProject.RazorComponents
@using GraduationProject.Services
@inject IDialogService DialogService
@inject GraduationProjectContext Context
@inject NavigationManager Navigation
@inject ISnackbar Snackbar
@inject IJSRuntime iJSRuntime
@inject CurrentElementService CurrentElement

<PageTitle>СТРАНИЦА ОТЧЕТА</PageTitle>

<style>
    .paper {
        position: absolute;
        left: 180px;
        top: 100px;
        width: 1000px;
        height: 550px;
        box-shadow: rgb(38, 57, 77) 0px 5px 10px -0px;
        background-color: #EEFFF7;
    }

    .mainLabel {
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        font-size: 50px;
        font-weight: 500;
        color: #21A77F;
        font-family: Andale Mono, monospace;
    }

    .labelText {
        font-size: 25px;
        font-weight: 500;
        color: #21A77F;
        margin-top: 10px;
        margin-bottom: 5px;
        margin-left: 7px;
    }

    .fieldsBlock {
        flex: 50%;
        margin-bottom: 30px;
        margin-right: 30px;
    }

    .listBlock {
        flex: 50%;
        text-align: center;
        margin-left: 50px;
        width: 400px;
        height: 400px;
    }

    .main {
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        overflow-y: scroll;
    }

    p {
        margin-bottom: 0;
    }
</style>

<MudPaper Class="paper">
    <div class="main">
        <div>
            <p Class="mainLabel" style="text-decoration: underline;">Отчет №@currentReportId</p>
            <p Class="mainLabel" style="font-size: 20px; margin-bottom: 30px;">за @currentReport.Date.ToString("d")</p>
            @if (!currentReport.IsAccepted || CurrentElement.CurrentRole == "Администратор")
            {
                <MudButton Variant="Variant.Outlined" Style="bottom: 30px; border-radius: 10px; height: 30px; font-size: 18px; border: 3px solid #21A77F; color: #21A77F;" Class="d-flex mx-auto" OnClick="GetAccept">Принять отчет</MudButton>
            }
        </div>
        <div class="mainBlock">
            <div class="fieldsBlock">
                <div>
                    <MudText Class="labelText">Должность сотрудника</MudText>
                    <input @bind-value="currentRole.Title" readonly="true" />
                </div>
                <div>
                    <MudText Class="labelText">Фамилия</MudText>
                    <input @bind-value="currentUser.Surname" readonly="true" />
                </div>
                <div>
                    <MudText Class="labelText">Имя</MudText>
                    <input @bind-value="currentUser.Name" readonly="true" />
                </div>
                <div>
                    <MudText Class="labelText">Отчество</MudText>
                    <input @bind-value="currentUser.Patronymic" readonly="true" />
                </div>

            </div>
            <div class="tableBlock">
                @switch (currentRole.Title)
                {
                    case "Ветеринар":
                        <MudText Class="labelText">Диаграмма лечения</MudText>
                        break;
                    case "Кипер":
                        <MudText Class="labelText">Диаграмма питания</MudText>
                        break;
                    case "Кладовщик":
                        <MudText Class="labelText">Диаграмма материалов</MudText>
                        break;
                }
                <MudChart ChartType="ChartType.Donut" LegendPosition="Position.Bottom" Width="270px" Height="270px"
                          InputData="@data" InputLabels="@labels">
                    <CustomGraphics>
                        <text x="49%" y="45%" dominant-baseline="middle" text-anchor="middle" fill="black" font-size="3" style="color: #21A77F;">Расход</text>
                        <text x="49%" y="55%" dominant-baseline="middle" text-anchor="middle" fill="black" font-size="5" style="color: #21A77F;">@data.Sum().ToString() кг</text>
                    </CustomGraphics>
                    </MudChart>
            </div>
        </div>
        <div style="margin-left: 50px; margin-right: 50px;">
            @if (currentRole.Title == "Ветеринар" || currentRole.Title == "Кипер")
            {
                <MudText Class="labelText">@GetWater()</MudText>
                <MudText Class="labelText">Отчетная таблица:</MudText>
                <MudTable Items="@aviariesList" Hover="true" Style="border: solid 1px #5FCEAD; border-radius: 5px; ">
                    <HeaderContent>
                        <MudTh>Номер вольера</MudTh>
                        <MudTh>Название вольера</MudTh>
                        <MudTh>Вид вольера</MudTh>
                        <MudTh>Вид животных</MudTh>
                        <MudTh>Количество животных</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="Title" Style="font-size: 20px;">@context.Id</MudTd>
                        <MudTd DataLabel="Title" Style="font-size: 20px;">@context.Title</MudTd>
                        <MudTd DataLabel="Title" Style="font-size: 20px;">@GetType(context)</MudTd>
                        <MudTd DataLabel="Title" Style="font-size: 20px;">@GetKind(context)</MudTd>
                        <MudTd DataLabel="Title" Style="font-size: 20px;">@GetCount(context)</MudTd>
                    </RowTemplate>
                </MudTable>

                @*<MudText Class="labelText">Состояние животных:</MudText>
                <MudTable Items="@animalConditionList" Hover="true" Style="border: solid 1px #5FCEAD; border-radius: 5px; ">
                    <HeaderContent>
                        <MudTh>Животное</MudTh>
                        <MudTh>Описание</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="Title" Style="font-size: 20px;">@Context.Animals.FirstOrDefault(x => x.Id == context.Id).Name</MudTd>
                        <MudTd DataLabel="Title" Style="font-size: 20px;">@context.Condition</MudTd>
                    </RowTemplate>
                </MudTable>*@
                
            }
            else if (currentRole.Title == "Кладовщик")
            {

            }
        </div>
        <div>
            <MudText style="font-size: 25px; font-weight: 500; margin-left: 50px; margin-top: 10px;">Дополнительно</MudText>
            <MudText style="font-size: 20px; margin-left: 50px; margin-top: 10px;">@currentReport.Description</MudText>
        </div>
        <hr />
        <div>
            <MudButton Style="font-size: 16px; border: 3px solid #21A77F; color: #21A77F; border-radius: 10px; margin-left: 50px; margin-bottom: 10px;" Variant="Variant.Outlined" OnClick="GetDoc">Скачать PDF-файл</MudButton>
        </div>
    </div>
</MudPaper>


@code {
    [Parameter]
    public string? currentReportId { get; set; }

    private List<Aviary> aviariesList = new List<Aviary>();
    private List<Animal> animalsList = new List<Animal>();
    private List<MaterialApplication> materialApplications = new List<MaterialApplication>();
    private MaterialType materialType = new MaterialType();
    private List<CareMaterial> materials = new List<CareMaterial>();
    private List<AnimalReport> animalConditionList = new List<AnimalReport>();

    public List<double> dataList = new List<double>();
    public List<string> labelsList = new List<string>();
    public List<string> names = new List<string>();
    public List<string> descriptions = new List<string>();

    private Report currentReport = new Report();
    private User currentUser = new User();
    private Aviary currentAviary = new Aviary();
    private Role currentRole = new Role();

    private double currentWater;

    public string[] labels = new string[] { };
    public double[] data = new double[] { };

    private void GetDoc()
    {
        Aviary aviary = new Aviary();
        aviary.GeneratePDF(Context, iJSRuntime, aviariesList, data, labels, currentRole, currentUser, currentReport, currentWater, names, descriptions);
    }

    protected override async Task OnInitializedAsync()
    {
        currentReport = Context.Reports.FirstOrDefault(x => x.Id == int.Parse(currentReportId));
        currentUser = Context.Users.FirstOrDefault(x => x.Id == currentReport.UserId);
        currentAviary = Context.Aviaries.FirstOrDefault(x => x.Id == currentReport.AviaryId);
        currentRole = Context.Roles.FirstOrDefault(x => x.Id == currentUser.RoleId);

        aviariesList = Context.Aviaries.Where(x => x.Id == currentReport.AviaryId).ToList();
        animalsList = Context.Animals.Where(x => x.AviaryId == currentAviary.Id && x.IsDeleted == false).ToList();
        animalConditionList = Context.AnimalReports.Where(x => x.ReportId == currentReport.Id).ToList();

        foreach (var acl in animalConditionList)
        {
            names.Add(Context.Animals.FirstOrDefault(x => x.Id == acl.AnimalId).Name);
            descriptions.Add(acl.Condition);
        }

        switch (currentRole.Title)
        {
            case "Ветеринар":
                materialType = Context.MaterialTypes.FirstOrDefault(x => x.RoleId == Context.Roles.FirstOrDefault(x => x.Title == "Ветеринар").Id);


                //foreach (Animal item in animalsList)
                //{
                //    materialApplications = Context.MaterialApplications.Where(x => x.Date == currentReport.Date && x.AnimalId == item.Id &&
                //        (x.MaterialId == 8 || x.MaterialId == 9 || x.MaterialId == 10)).ToList();
                //    dataList.Add(materialApplications.Count);
                //    labelsList.Add(item.Name);
                //}
                break;
            case "Кипер":
                materialType = Context.MaterialTypes.FirstOrDefault(x => x.RoleId == Context.Roles.FirstOrDefault(x => x.Title == "Кипер").Id);
                //foreach (Animal item in animalsList)
                //{
                //    materialApplications = Context.MaterialApplications.Where(x => x.Date == currentReport.Date && x.AnimalId == item.Id &&
                //        (x.MaterialId == 1 || x.MaterialId == 2 || x.MaterialId == 3 || x.MaterialId == 4 ||
                //            x.MaterialId == 5 || x.MaterialId == 6 || x.MaterialId == 7)).ToList();
                //    dataList.Add(materialApplications.Count);
                //    labelsList.Add(item.Name);
                //}
                break;
        }

        var water = Context.CareMaterials.FirstOrDefault(x => x.Title == "Вода");
        currentWater = Context.MaterialApplications.FirstOrDefault(x => x.MaterialId == water.Id && x.Date == currentReport.Date).Expense;

        var careMaterialList = Context.CareMaterials.Where(x => x.TypeId == materialType.Id).ToList();

        foreach (var m in careMaterialList)
        {
            materialApplications = Context.MaterialApplications.Where(x => x.MaterialId == m.Id && x.Date == currentReport.Date && x.MaterialId != water.Id).ToList();
            if (materialApplications != null)
            {
                foreach (var ma in materialApplications)
                {
                    dataList.Add(ma.Expense);
                    labelsList.Add(m.Title);
                }
            }
        }

        data = dataList.ToArray().Select(Convert.ToDouble).ToArray();
        labels = labelsList.ToArray();
    }

    private string GetType(Aviary context) => Context.TypeAviaries.FirstOrDefault(x => x.Id == context.TypeId).Title;

    private string GetKind(Aviary context) => Context.AnimalKinds.FirstOrDefault(x => x.Id == context.KindId).Title;

    private string GetCount(Aviary context) => Context.Animals.Where(x => x.AviaryId == currentAviary.Id && x.IsDeleted == false).ToList().Count.ToString();

    private async Task GetAccept()
    {
        var result = await DialogService.Show<AcceptDialog>($"Вы уверены, что хотите принять этот отчет?").Result;

        if (!result.Canceled)
        {
            currentReport.IsAccepted = true;
            Context.Reports.Update(currentReport);
            Context.SaveChanges();
            Snackbar.Add("Отчет принят!", Severity.Success, config => { config.ShowCloseIcon = false; });
            Navigation.NavigateTo($"/report_list");
        }
    }

    private string GetWater()
    {
        return $"Общий расход воды: {currentWater}л";
    }
}

